.marquee {
  overflow: hidden;
  width: 100%;
}

.marqueeContent {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll 25s linear infinite;
  padding: 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}